<extend name="Public:default" />
<block name="container">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="icon-th"></i>
						</span>
						<h5>角色修改</h5>
					</div>
					<div class="widget-content nopadding">
						<form action="{:U('updateRole')}" method="post" class="form-horizontal">
							<div class="control-group">
								<label class="control-label">角色名：</label>
								<div class="controls">
									<input type="text" name="name" value="{$list['name']}"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">角色简称</label>
								<div class="controls">
									<input type="text" name="title" value="{$list['title']}"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">是否开启</label>
								<div class="controls">
									<select name="status">
										<!-- <if condition="$list['status'] eq 1"> -->
											<option value="1" selected="selected">开启
											<option value="0">关闭
										<!-- <else /> -->
											<option value="1">开启
											<option value="0" selected="selected">关闭
										<!-- </if> -->
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">备注</label>
								<div class="controls">
									<textarea name="remark">{$list['remark']}</textarea>
								</div>
							</div>
							<div class="form-actions">
								<input type="hidden" name="id" value="{$list.id}" />
								<button type="submit" class="btn btn-primary">修改</button>
								<a href="{:U('index')}" class="btn btn-primary">返回</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>