<!DOCTYPE html>
<html lang="en">
<!-- container-fluid -->
<head>
    <block name="title">
        <title>MangoLau Admin</title>
    </block>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <block name="baseCss">
        <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
        <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="__PUBLIC__/Admin/css/unicorn.main.css" />
        <link rel="stylesheet" href="__PUBLIC__/Admin/css/unicorn.grey.css" class="skin-color" />
    </block>
    <block name="css"></block>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<block name="content">
    <div id="content">
        <div id="breadcrumb">
            <a href="{:U('Index/index')}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <volist name="breadcrumb" id="v">
                <a href="{$v.link}" class="current">{$v.title}</a>
            </volist>
        </div>
        <block name="container">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12 center" style="text-align: center;">
                        <ul class="stat-boxes">
                            <li>
                                <div class="left peity_bar_good"><span>2,4,9,7,12,10,12</span>+20%</div>
                                <div class="right">
                                    <strong>36094</strong>
                                    Visits
                                </div>
                            </li>
                            <li>
                                <div class="left peity_bar_neutral"><span>20,15,18,14,10,9,9,9</span>0%</div>
                                <div class="right">
                                    <strong>1433</strong>
                                    Users
                                </div>
                            </li>
                            <li>
                                <div class="left peity_bar_bad"><span>3,5,9,7,12,20,10</span>-50%</div>
                                <div class="right">
                                    <strong>8650</strong>
                                    Orders
                                </div>
                            </li>
                            <li>
                                <div class="left peity_line_good"><span>12,6,9,23,14,10,17</span>+70%</div>
                                <div class="right">
                                    <strong>8650</strong>
                                    Orders
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </block>
    </div>
</block>


<block name="baseJs">
    <script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/Admin/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Admin/js/unicorn.js"></script>
</block>
<block name="js"></block>
</body>
</html>
