<extend name="Public:default" />
<block name="container">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
						<span class="icon">
							<i class="icon-th"></i>
						</span>
                        <h5>文章添加</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">文章标题</label>
                                <div class="controls">
                                    <input type="text" id="title" name="title" maxlength="64" value="{$list['title']}" />
                                    <input type="hidden" id="actid" value="{$list['id']}" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">所属类别</label>
                                <div class="controls">
                                    {$cates}
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">SEO关键词</label>
                                <div class="controls">
                                    <input type="text" id="keyword" name="keyword" maxlength="256" value="{$list['keyword']}" placeholder="关键词之间用英文符 , 隔开" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">SEO描述</label>
                                <div class="controls">
                                    <input type="text" id="description" name="description" maxlength="256" value="{$list['description']}" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">文章内容</label>
                                <div class="controls">
                                    <textarea id="container" name="content" >
                                        {$list['content']}
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="button" class="btn btn-primary sure">保存</button>
                                <button type="reset" class="btn btn-primary">重置</button>
								<button type="button" class="btn btn-primary" onclick="window.history.go(-1)">返回</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <!-- 配置文件 -->
    <script type="text/javascript" src="__PUBLIC__/UEditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="__PUBLIC__/UEditor/ueditor.all.js"></script>

    <script type="application/javascript">
        //实例化编辑器
        var editor = UE.getEditor('container', {
            UEDITOR_HOME_URL : '__PUBLIC__/UEditor/',//为编辑器实例添加一个路径，这个不能被注释
            serverUrl : "__PUBLIC__/UEditor/php/controller.php", // 服务器统一请求接口路径
			imageUrlPrefix : "{:C('IMAGE_URL_PREFIX')}",
			imagePathFormat : "{:C('IMAGE_PATH_FORMAT')}",
			scrawlPathFormat : "{:C('SCRAWL_PATH_FROMAT')}",
			snapscreenPathFormat : "{:C('SNAPSCREEN_PATH_FORMAT')}",
			catcherPathFormat : "{:C('CATCHER_PATH_FORMAT')}",
			videoPathFormat : "{:C('VIDEO_PATH_FORMAT')}",
			filePathFormat : "{:C('FILE_PATH_FORMAT')}",
            initialFrameWidth : 960,
            initialFrameHeight : 300
        });
        $(document).ready(function(){
            $('form .sure').click(function(){
                var _id = $('#actid').val(),
                        _title = $('#title').val(),
                        _keyword = $('#keyword').val(),
                        _description = $('#description').val(),
                        _content = editor.getContent();//获取html内容
                if(_title.trim == ''){
                    alert('标题不能为空！');
                    return false;
                } else if (_content.trim() =='') {
                    alert('文章内容不能为空！');
                    return false;
                } else {
                    $.ajax({
                        type: "POST",
                        url: "{:U('Content/altContent')}",
                        data: {id:_id,title:_title,keyword:_keyword,description:_description,content:_content},
                        success: function(result){
                            if(result.success){
                                alert('更新成功！');
                                window.location.href = "{:U('Content/index')}";
                            } else {
                                alert(result.msg);
                            }
                        }
                    });
                }
            });
        });
    </script>
</block>