<extend name="Public:default" />
<block name="container">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="icon-th"></i>
						</span>
						<h5><if condition="$pid eq 0">控制器节点添加<else/>方法节点添加</if></h5>
					</div>
					<div class="widget-content nopadding">
						<form action="{:('addHomenode')}" method="post" class="form-horizontal">
							<div class="control-group">
								<label class="control-label"><if condition="$pid eq 0">控制器<else/>方法</if>名称</label>
								<div class="controls">
									<input type="text" name="name"/>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label"><if condition="$pid eq 0">控制器<else/>方法</if>描述</label>
								<div class="controls">
									<input type="text" name="title" />
								</div>
							</div>
							<div class="form-actions">
								<input type="hidden" name="pid" value="{$pid}"/>
								<button type="submit" class="btn btn-primary">保存</button>
								<button type="reset" class="btn btn-primary">重置</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
    </div>
</block>
